@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Oswald:wght@400;500;700&display=swap');

:root {
    --background-Main: #F6F4F4;
    --background-Container: #FFF;
    --background-Container-Dark: #4A4745;
    --font-Primary: #22201E;
    --font-Subtle: #F0F3ED;
    --font-bg: #EAEAEA;
    --border-Primary: #4A4745;
    --tape-1: #FFD4D1;
    --tape-2: #D8EFF8;
    --tape-3: #FFF0D1;
    --tape-4: #DBF7F1;
    --thumb-tack-front: #FAD6DD;
    --thumb-tack-back: #F9CDD6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Baskervville', serif;
    scroll-behavior: smooth;
    color: var(--font-Primary);
    text-decoration: none;
    list-style: none;
    overflow-x: hidden;
}

html {
    font-size: 62.5%;
    background-color: var(--background-Main);
}

.container {
    width: 90%;
    max-width: 1280px;
    margin: auto;
}


h1 {
    font-size: 4.0rem;
    font-family: 'Oswald', sans-serif;
}

h2 {
    font-size: 3.2rem;
    font-family: 'Oswald', sans-serif;
}

h3 {
    font-size: 2.4rem;
    font-family: 'Oswald', sans-serif;
}

p {
    font-size: 1.8rem;
}

.italic {
    font-style: italic;
    font-size: 1.6rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.2rem;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

ul {
    display: flex;
    align-items: center;
}

li {
    font-size: 1.6rem;
    padding: 2px 0;
}

ul li a {
    margin: 0 20px 0;
}

ul li .active {
    border-bottom: 1px solid var(--border-Primary);
    font-style: italic;
}

nav i {
    font-size: 32px;
    color: var(--font-Primary);
    display: none;
}


.main-button {
    width: fit-content;
    padding: 8px 16px;
    font-size: 1.8rem;
    font-family: 'Oswald', sans-serif;
    background-color: var(--background-Container-Dark);
    color: var(--font-Subtle);
    border: 2px solid var(--border-Primary);
    cursor: pointer;
}

.main-button a {
    font-family: 'Oswald', sans-serif;
    color: var(--font-Subtle);
}

.main-button:hover {
    border: 2px solid var(--border-Primary);
    background-color: transparent;
    color: var(--font-Primary);
}

.main-button:hover a {
    color: var(--font-Primary);
}

.main-button-white {
    width: fit-content;
    padding: 8px 16px;
    font-size: 1.8rem;
    font-family: 'Oswald', sans-serif;
    background-color: var(--background-Main);
    color: var(--font-Primary);
    border: 2px solid var(--background-Main);
    cursor: pointer;
}

.main-button-white a {
    font-family: 'Oswald', sans-serif;
    color: var(--font-Primary);
}

.main-button-white:hover {
    border: 2px solid var(--background-Main);
    background-color: transparent;
    color: var(--background-Main);
}

.main-button-white:hover a {
    color: var(--background-Main);
}

.hero-background::before {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    background-image: url('./assets/images/World\ Croquis\ -\ Black.png');
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 8%;
    z-index: -100;
    aspect-ratio: 16 / 9;
}

.hero-background .content {
    margin-top: 150px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    max-width: 560px;
    row-gap: 32px;
}

.hero-images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    padding: 0 0 60px;
    min-width: 300px;
    column-gap: 16px;
}

.hero-images:first-child {
    margin-left: 50px;
}


.hero-images div:nth-child(2) {
    z-index: -1;
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
}

.image-card {
    overflow: hidden;
}

.image-card img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1;
}

.trips {
    display: grid;
}


.trips h2 {
    text-align: right;
    margin-top: 150px;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    justify-content: space-between;
    column-gap: 24px;
}

.image-card {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    row-gap: 16px;
    max-width: 350px;
    padding: 24px;
    background-color: var(--background-Container);
    align-items: center;
    box-shadow: 0px 4px 10px rgba(35, 35, 35, 0.1);
}


.trips .image-card {
    margin: 25px;
}

.trips .image-card::before {
    content: '';
    width: 350px;
    height: 410px;
    position: absolute;
    background-color: var(--background-Container);
    z-index: -99;
    transform: translate(10px, 5px) rotate(4deg);
    -webkit-transform: translate(10px, 5px) rotate(4deg);
    -moz-transform: translate(10px, 5px) rotate(4deg);
    -ms-transform: translate(10px, 5px) rotate(4deg);
    -o-transform: translate(10px, 5px) rotate(4deg);
}


.trips .content {
    padding: 15px 0;
}

.side {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    row-gap: 80px;
    overflow: hidden;
}

.text-bg {
    position: absolute;
    top: -120px;
    left: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 400px;
    font-weight: 500;
    color: var(--font-bg);
    z-index: -99;
}

.trips .content .left-side::before {
    content: '';
    width: 130px;
    height: 40px;
    background-color: var(--tape-1);
    position: absolute;
    transform: rotate(-45deg) translate(-30px, 20px);
    -webkit-transform: rotate(-45deg) translate(-30px, 20px);
    -moz-transform: rotate(-45deg) translate(-30px, 20px);
    -ms-transform: rotate(-45deg) translate(-30px, 20px);
    -o-transform: rotate(-45deg) translate(-30px, 20px);
}

.trips .content .left-side::after {
    content: '';
    width: 130px;
    height: 40px;
    background-color: var(--tape-1);
    position: absolute;
    transform: rotate(45deg) translate(-115px, -515px);
    -webkit-transform: rotate(45deg) translate(-115px, -515px);
    -moz-transform: rotate(45deg) translate(-115px, -515px);
    -ms-transform: rotate(45deg) translate(-115px, -515px);
    -o-transform: rotate(45deg) translate(-115px, -515px);
}

.trips .content:nth-child(4) .left-side::before {
    background-color: var(--tape-3);
}

.trips .content:nth-child(4) .left-side::after {
    background-color: var(--tape-3);
}

.trips .content:nth-child(3) .left-side {
    display: flex;
    justify-content: right;
}

.trips .content:nth-child(3) .left-side::before {
    content: '';
    width: 130px;
    height: 40px;
    background-color: var(--tape-2);
    position: absolute;
    transform: rotate(-45deg) translate(-225px, -170px);
    -webkit-transform: rotate(-45deg) translate(-225px, -170px);
    -moz-transform: rotate(-45deg) translate(-225px, -170px);
    -ms-transform: rotate(-45deg) translate(-225px, -170px);
    -o-transform: rotate(-45deg) translate(-225px, -170px);
}

.trips .content:nth-child(3) .left-side::after {
    content: '';
    width: 130px;
    height: 40px;
    background-color: var(--tape-2);
    position: absolute;
    transform: rotate(45deg) translate(30px, 20px);
    -webkit-transform: rotate(45deg) translate(30px, 20px);
    -moz-transform: rotate(45deg) translate(30px, 20px);
    -ms-transform: rotate(45deg) translate(30px, 20px);
    -o-transform: rotate(45deg) translate(30px, 20px);
}


.trips .content:nth-child(3) .side {
    text-align: left;
    align-items: flex-start;
    grid-row: 1;
}

.about-me {
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    column-gap: 24px;
    justify-items: center;
    align-items: center;
    margin: 150px 0;
    padding: 8px 0;
    overflow: hidden;
}


.about-me::before {
    content: 'N';
    position: absolute;
    top: -160px;
    left: 0;
    color: var(--font-bg);
    font-size: 50rem;
    font-family: 'Oswald', sans-serif;
    z-index: -99;
}

.about-me::after {
    content: 'B';
    position: absolute;
    top: -160px;
    right: 0;
    color: var(--font-bg);
    font-size: 50rem;
    font-family: 'Oswald', sans-serif;
    z-index: -99;
}

footer {
    background-color: var(--background-Container-Dark);
}

.footer-content {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 16px 0 0;
}

.footer-content .logo h3,
.footer-content .logo p {
    color: var(--font-Subtle);
}

.footer-center {
    display: inherit;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
}

.footer-center p {
    color: var(--font-Subtle);
    font-size: 1.2rem;
}


.footer-center a {
    color: var(--font-Subtle);
    text-decoration: underline;
}

.footer-center img {
    width: 32px;
}

.social-media {
    display: inherit;
    column-gap: 32px;
}

.nav-menu {
    width: 0;
    height: 0;
}

@media screen and (max-width: 425px) {
    .content .hero-content h1 {
        font-size: 3.2rem;
    }

    p {
        font-size: 1.6rem;
    }

    .trips .image-card {
        margin-left: 0;
        margin-right: 0;
    }

}

@media screen and (max-width: 540px) {

    .trips .content .left-side::before,
    .trips .content .left-side::after {
        display: none;
    }

    .hero-images {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        column-gap: 8px;
    }

    .hero-images .image-card {
        padding: 12px !important;
    }

    .hero-images .image-card p {
        font-size: 1.4rem;
    }

    .main-button {
        width: 100%;
    }

}



@media screen and (max-width: 768px) {

    @supports not ((object-fit: cover) or (aspect-ratio: 1 / 1)) {
        .image-card {
            height: fit-content;
        }
    }

    .image-card {
        height: fit-content;
    }

    nav ul {
        display: none;
    }

    nav i {
        display: flex;
    }

    .nav-menu {
        width: 0;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--background-Main);
        transition: 0.2s;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
        z-index: 999;
    }

    .nav-menu-container {
        display: flex;
        flex-direction: column;
        max-width: 90%;
        margin: 0 auto;
        row-gap: 100px;
    }

    .nav-menu.active {
        width: 100vw;
    }

    .nav-menu i {
        font-size: 2.4rem;

    }

    .nav-menu ul {
        position: relative;
        display: flex;
        flex-direction: column;
        top: 25%;
        row-gap: 32px;
        opacity: 0;
    }

    .nav-menu.active ul {
        opacity: 100%;
        transition: 0.2s;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
    }

    .nav-menu .logo-container {
        display: flex;
        padding-top: 24px;
        justify-content: space-between;
        align-items: center;
    }

    .hero-background .content {
        margin-top: 48px;
    }

    .trips .image-card::before {
        display: none;
    }

    .trips .image-card,
    .about-me .image-card {
        padding: 16px;
    }

    .hero-images {
        grid-row: 1;
    }

    .hero-images .image-card:nth-child(2) {
        display: flex !important;
    }

    .trips .content .left-side {
        margin: 0 auto;
    }

    .trips .content:nth-child(3) .side {
        grid-row: none;
    }

    .about-me {
        row-gap: 32px;
    }

    .footer-center img,
    .footer-content .logo {
        display: none;
    }

    .footer-content {
        flex-direction: column-reverse;
        padding: 8px;
        row-gap: 24px;
    }

}

@media screen and (max-width: 1050px) {
    .hero-images .image-card:nth-child(2) {
        display: none;
    }
}

@media screen and (max-width: 1150px) {
    .hero-images {
        justify-items: end;
    }

    .hero-images .image-card {
        padding: 16px;
    }
}


/* Journey page styles */


.journey header {
    width: 100%;
    background-color: var(--background-Container-Dark);
}

.journey nav {
    width: 90%;
    max-width: 1280px;
    margin: 3.2rem auto 0;
}

.journey nav .logo h3,
.journey nav .logo p,
.journey nav i {
    color: var(--font-Subtle);
}

.journey header nav ul li a {
    color: var(--font-Subtle);
}

.journey header nav ul li .active {
    border-bottom: 1px solid var(--font-Subtle);
    font-style: italic;
}

.journey-background {
    background-color: var(--background-Container-Dark);
}

.journey-container {
    max-width: 1280px;
    margin: 0 auto;
    background-image: url('./assets/images/World\ Map\ -\ Nicole.png');
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 16 / 9;
}


.journey-trips h1 {
    font-size: 3.2rem;
}

.journey-trips {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    width: 90%;
    row-gap: 56px;
    margin: 32px auto;
}

.journey-trips .trip {
    display: flex;
    flex-direction: column;
    column-gap: 40px;
    row-gap: 40px;
    padding: 16px 0;
    justify-content: space-between;
    align-items: center;
}

.journey-trips .trip h2 {
    font-size: 2rem;
}

.journey-trips .image-card {
    padding: 1.2rem;
}

.journey-trips .trip .image-card-content h2,
.journey-trips .trip .image-card-content p {
    margin-bottom: 32px;
}

/* Journey media queries styles */

@media screen and (min-width: 768px) {

    .journey nav {
        width: 90%;
    }

    .journey-trips .trip {
        flex-direction: row;
        column-gap: 32px;
        align-items: stretch;
    }

    .journey-trips .trip .image-card {
        flex-shrink: 1;
    }

    .journey-trips .trip .image-card-content {
        display: inherit;
        flex-direction: column;
        flex-shrink: 2;
    }

    .journey-trips {
        width: 90%;
        margin: 85px auto;
    }
}

@media screen and (min-width: 1024px) {

    .journey-trips .trip {
        flex-direction: row;
        column-gap: 72px;
    }

    .journey-trips .trip h2 {
        font-size: 2.5rem;
    }
}

/* Collage styles */

.collage-images-container {
    margin: 56px 0;
}

.collage-images-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    gap: 16px;
    margin-top: 24px;
    justify-items: center;
    align-items: center;
}

.collage-images-container h1 {
    font-size: 3.2rem;
}

.collage-images-container .collage-images-grid .image-card {
    padding: 16px;
}

.collage-images-container .collage-images-grid .image-card::before {
    content: '';
    position: absolute;
    transform: translateY(-8px);
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: var(--tape-1);
    box-shadow: 0px 2px 6px rgba(100, 98, 97, 0.7);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    z-index: 1;
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
}

.collage-images-container .collage-images-grid .image-card::after {
    content: '';
    position: absolute;
    transform: translateY(-15px);
    width: 46px;
    height: 46px;
    border-radius: 100%;
    background-color: var(--tape-1);
    box-shadow: 0px 2px 2px rgba(74, 71, 69, 0.418);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    z-index: 0;
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
}

.collage-images-container .collage-images-grid .image-card picture {
    position: relative;
}

/* .collage-images-container .collage-images-grid .image-card:hover picture::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 32, 30, 0.93);
    ;
    backdrop-filter: blur(5px);
} */

/* Collage media queries */

@media screen and (min-width: 768px) {

    .collage-images-grid {
        grid-template-columns: repeat(3, 1fr);
        margin-top: 24px;
        padding: 24px 0;
    }

    .collage-images-grid .image-card {
        max-width: 100%;
    }


}

@media screen and (min-width: 1024px) {

    .collage-images-grid {
        gap: 56px;
    }

    .collage-images-container .collage-images-grid .image-card::before {
        width: 46px;
        height: 46px;
        transform: translateY(-28px);
        -webkit-transform: translateY(-28px);
        -moz-transform: translateY(-28px);
        -ms-transform: translateY(-28px);
        -o-transform: translateY(-28px);
    }

    .collage-images-container .collage-images-grid .image-card::after {
        width: 65px;
        height: 65px;
        transform: translateY(-38px);
        -webkit-transform: translateY(-38px);
        -moz-transform: translateY(-38px);
        -ms-transform: translateY(-38px);
        -o-transform: translateY(-38px);
    }
}

/* Details styles */

.details {
    margin: 56px 0;
}

.details .header .outline-button {
    width: fit-content;
    height: fit-content;
}

.details .header .outline-button a {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-bottom: 16px;
}

.details .header .outline-button h3,
.details .header .outline-button i {
    font-size: 1.6rem;
}

.details .header .outline-button i {
    font-size: 2rem;
}

.header .header-cover-1 {
    width: 100%;
    min-height: 160px;
    background-image: url('./assets/images/NY.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header .header-cover-2 {
    width: 100%;
    min-height: 160px;
    background-image: url('./assets/images/NZ.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header .header-cover-3 {
    width: 100%;
    min-height: 160px;
    background-image: url('./assets/images/AS.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header .header-details {
    max-width: 90%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    margin: 0 auto;
    transform: translateY(-50px);
    background-color: var(--background-Container);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
}

.header .header-details .header-details-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .header-details .header-details-content img {
    width: 20px;
}

.header .header-details .header-details-content span {
    font-size: 1rem;
}

.header .header-details .header-details-content h3 {
    font-size: 1.4rem;
}

.detail-container {
    height: fit-content;
    position: relative;
    margin: 32px 0;
    overflow: hidden;
}

.activities {
    display: flex;
    flex-direction: column;
    margin: 56px 0;
}

.activities .left-side {
    display: inherit;
    flex-direction: column;
    order: 2;
    row-gap: 24px;
}

.activities .left-side h2 {
    margin: 24px 0;
}

.activities .right-side {
    order: 1;
}

.activities .right-side picture img {
    width: 100%;
    opacity: 80%;
}

.activities-container {
    display: flex;
    column-gap: 16px;
    align-items: flex-start;
}

.activities-container .activities-content h3 {
    margin-bottom: 16px;
}

.activities-icon {
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-top: 8px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border: 2px solid var(--border-Primary);
}

.activities-icon .activities-icon-dot {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    background-color: var(--border-Primary);
}

/* Details media queries */

@media screen and (min-width: 768px) {
    .header .header-cover-1,
    .header .header-cover-2,
    .header .header-cover-3 {
        min-height: 260px;
    }

    .header .header-details {
        height: 190px;
        padding: 0 56px;
    }

    .header .header-details .header-details-content img {
        width: 56px;
    }

    .header .header-details .header-details-content span {
        font-size: 1.8rem;
    }

    .header .header-details .header-details-content h3 {
        font-size: 2.4rem;
    }

}

@media screen and (min-width: 1024px) {

    .header .header-cover-1,
    .header .header-cover-2,
    .header .header-cover-3 {
        min-height: 360px;
    }

    .header .header-details {
        width: 640px;
        height: 220px;
        padding: 0 56px;
    }

    .activities {
        flex-direction: row;
    }

    .activities .left-side {
        order: 1;
    }

    .activities .right-side {
        order: 2;
    }
}